<h1>Picture一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @pictures.each do |picture| %>
  <tr>
    <td><%= picture.title %></td>
    <td><%= picture.content %></td>
    <td><%= image_tag picture.image_pict.to_s %></td>
    <td><%= link_to '詳細を見る', picture_path(picture.id) %></td>
    <td><%= link_to "編集する", edit_picture_path(picture.id) %></td>
  </tr>
<% end %>
</table>
